# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env



# Raw data (too large for GitHub)
data/raw/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/