pandas
numpy
scipy
scikit-learn
xgboost
imbalanced-learn
lightgbm
shap
lime
nltk
textblob
matplotlib
seaborn
plotly
wordcloud
fastapi
uvicorn
pydantic
streamlit
pymongo
sqlalchemy
python-dotenv
joblib
requests
ipykernel
notebook
jupyter